# PostgreSQL Local Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecosphere_db"

# NextAuth Secret
NEXTAUTH_SECRET="some-super-secret-nextauth-key-value"
NEXTAUTH_URL="http://localhost:3000"
